/* Search */

.search, .search-bar
{
	width: 100%;
    position: relative;
	color: #DADADA;
    margin: 0 auto;
}

.search-field
{
    text-align: left;
    width: 100%;
    height: 2em;
    padding-left: 10px;
    margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    border: none;
    border-radius: 25px;
	font: inherit;
	background: #FFFFFF;
    color: #5F5F5F;
}

.search-filter
{
	float: left;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #5F5F5F;
	line-height: 2em;
	padding-right: 5px;
	cursor: pointer;
	height: 2em;
}

.search-filter.open
{
	background: #3F3F3F;
	background-color: #3f3f3f;
}

.search-filter span
{
	padding-left: 15px;
	padding-right: 15px;
}

.search-filter span:after
{
	content: "";
	border: solid 3px transparent;
	border-top-width: 6px;
	border-bottom: none;
	position: absolute;
	right: 8px;
	margin-top: 14px;
	width: 0;
	height: 0;
	border-top-color: #dadada;
}

.search-filter-wrapper
{
	display: none;
	position: absolute;
    top: 0;
    right: 56px;
}

.search-filter-content
{
	display: none;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	position: absolute;
	right: 0;
	line-height: normal;
	text-align: left;
	overflow: auto;
	z-index: 1;
	background-color: #3f3f3f;
    white-space: nowrap;
}

.search-filter-content ul
{
	list-style: none;
	margin: 0;
	padding: 6px;
}

.search-filter-content ul li
{
	padding: 5px;
    margin: 0;
}

.search-filter-content ul li:hover
{
	color: #f7f7f7;
	background-color: #6f6f6f;
}

.search-submit-wrapper
{
	position: absolute;
    top: 0;
    right: 0;	
	tooltip: Search;
}

.search-submit
{
	width: 56px;
    height: 2em;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #bed230 url('../Images/SearchIcon.png') no-repeat center center;
	cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Sidebar Menu Styles */
ul.menu a, ul.navigation a
{
    text-decoration: none;
    outline: none;
}

ul.menu, ul.menu ul, ul.navigation, ul.navigation ul
{
    list-style: none;
    margin: 0;
}

    ul.menu, ul.menu ul, ul.navigation
    {
        padding: 0;
    }

ul.menu li > a, ul.navigation li > a
{
    display: block;
}

/* Search Results Styles */
#results-heading
{
    margin-bottom: 20px;
}

#resultList
{
    padding-left: 0;
    margin: 0;
}
#resultList h3.title a
{
    text-decoration: none;
    font-weight: normal;
}

#resultList h3.title
{
    margin-bottom: 2px;
}

#resultList li
{
    list-style: none;
    margin-bottom: 16px;
}

/* Topbar Menu Functionality Styles */
#navigation.topbar > .row
{
	height: 100%;
}

#navigation.topbar 
{
    background-color: #292928;
    padding-top: 10px;
    padding-bottom: 10px;
}
