#MimicMovieHost {
    width: 618px;
    height: 576px;
}
.playOverlayWrapper {
    height: 526px;
}
.playOverlay {
    margin-top: 218px;
}
.incompatibleWrapper {
    height: 526px;
}
.incompatibleOverlay {
    margin-top: 131px;
    margin-left: 123.6px;
}
